*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both; 
}


/*Classi di Debug */

.debug .site_header {
    height: 100px;
    background-color: lightcoral;
}

.debug .container  {
    background-color: rgb(77, 77, 87);
    width: 70%;
    height: 100px;
    margin: auto;
}

.debug .logo_container{
    float: left;
    height: 100px;
    background-color: rosybrown;
    width: 20%;
}

.debug .nav_container{
    float: left;
    height: 100px;
    background-color: yellow;
    width: 60%;
}

.debug .botton_container{
    float: left;
    height: 100px;
    background-color: rosybrown;
    width: 20%;
}

.debug .jumbo{
    background-color: lightblue;
    height: 1000px;
    width: 100%;
}

.debug .jumbo_container div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}